.user-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.add-user-fab {
  background-color: var(--mat-sys-primary);
  border-radius: 50%;
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;

  mat-icon {
    color: var(--mat-sys-on-primary);
    height: 1.75rem;
    width: 1.75rem;
    font-size: 1.75rem;
  }
}
